@import "typographpy/typography";

// Main CSS

@import "main/rtl";
@import "main/about";
@import "main/testimonial";
@import "main/service";
@import "main/main";
@import "main/dark";

// PREVIEW SCSS
@import "preview/preview";
@import "node_modules/react-modal-video/scss/modal-video.scss";

.portfolio_filter .react-tabs__tab-list {
  display: none;
}

.logo h3 {
  font-weight: 800;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: light;
}

.josefin-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}
.josefin-light {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
}
.josefin-bold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}